body{
  background-image:url(lap.jpg);
  background-color:grey;
    background-size: cover;
    text-decoration:solid black ;
}


/* nav */

.navbar-brand{
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 300px;
   color: rgb(233, 19, 54);
   font-family: cursive;
}

nav ul li a{
  color: black;
  font-size: 2rem;
  margin: auto 10px; 
  font-weight: bold;
}

nav ul li a:hover{
  color:white;
}

    .nav2 {
        
        padding-top: 10px;
        margin: px;
        gap: 10px;

        font-size: 35px;
        color: black;
    }
    .nav2 a:link {
        text-decoration: none;
      }
      .nav2 a:hover {
        color:whitesmoke;
      }
    /* Styling for Hero Section */
section{
  padding-top: 100px;
  padding-bottom: 50px;
}
 section h1{
  text-transform: ;
  font-weight:bold ;

  color: black;
  text-align: left;
  margin-bottom: 20px;
} 
.text{
  font-size:50px ;
}
section p{
  font-size: 16px;
  font-weight: 300;
}


hr{
  margin: 20px;
  color: white;
}
.copyright{
  text-align: center;
  padding-right: 100px;
  color: red;
}


.footer{
  background: #000;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  color: gray; 
}
.footer1 .footer2 .footer3{
  min-width: 230px;
  
}
.footer1{
  flex-basis: 10%;
}
.footer2{
   flex-basis: 10%;
   padding-left: 250px;
}
.footer3{
  flex-basis: 30%;
  padding-left: 250px;
}
.footer1 h3{
  color: #fff;
}
.footer1  li{
  list-style-type: none;
}
.footer1 a{
  text-decoration: none;
  color: gray;
}
.footer1  a:hover{
  text-decoration: underline;
  color: #fff;
}
.footer2 a{
  height: 10px;
 width: 10%;
  padding-left: 40px;
  color:gray ;
    display:inline-block;
    padding-bottom: ;
    padding: top 0; ;
    
}
.footer2 li{list-style-type: none;

}
.footer2 h3{
  color: #fff;
padding-bottom:7px;
  padding-left: 80px;
}


.footer2 a:hover{ 
  color: #fff;
}
.footer3 a{
  color: gray;
  text-decoration: none;
}
.footer3 a:hover{
  text-decoration: underline;
  color: #fff;
}


/* carousel */


@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 100vw;
  height: 300px;
  margin-top: 15vh;
  color: red;
}

.pic-ctn  img {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 10s infinite;
  height: 300px;
  width:200px ;
  padding-bottom: 40px;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}






















