body{
  background-image:url(lap.jpg);
  background-color:rgba(5, 5, 152, 0.76);
    background-size: cover;
    text-decoration:solid black ;
}


/* nav */

.navbar-brand{
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 300px;
   color: pink;
   font-family: cursive;
}

nav ul li a{
  color: black;
  font-size: 2rem;
  margin: auto 10px; 
  font-weight: bold;
}

nav ul li a:hover{
  color:white;
}

    .nav2 {
        
        padding-top: 10px;
        margin: px;
        gap: 10px;

        font-size: 35px;
        color: black;
    }
    .nav2 a:link {
        text-decoration: none;
      }
      .nav2 a:hover {
        color:whitesmoke;
      }
    /* Styling for Hero Section */
section{
  padding-top: 100px;
  padding-bottom: 50px;
}
 section h1{
  text-transform: ;
  font-weight:bold ;

  color: black;
  text-align: left;
  margin-bottom: 20px;
} 
.text{
  font-size:50px ;
}
section p{
  font-size: 16px;
  font-weight: 300;
}

.footer{
  color: black;
  text-align: center;
} 


 

/* contact section styling */
#contact{
  text-align: start;
  background-color:pink;
  padding-top: 40px ;
  margin-top:10px;
  height: 100vw;
  width: 100vw;
}

.carousel{background-color: rgb(24, 22, 22);margin-bottom: 0;
  width:100vw;
position: absolute;
height: 40vw;

} 
.home{
text-align: center;
margin: auto 0;
}



























