img{
    width: 200px;  height: 200px;border-radius: 50%;
  }
  body{ background-image: url(blackbird-5808948_1280.jpg);
    background-color:whitesmoke;
    background-size: cover;
    text-decoration:solid black ;
     
  }
  hr{border-style: none;
    border-top-style: dotted;
    border-color:red;
    border-width: 5px;
    width: 5%;
    
  }
  
  